.clear {
	clear: both;
}

/* Login */
form.login {
	margin: 2em;
}

/* Chat Box */
#messages {
	height: 200px;
	overflow: auto;
}

#chat_box {
	width: 293px;
	float: right;
}

#board {
	float: left;
	border: 1px solid black;
}